---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About WeighMyBru';
const pageDescription = 'Learn more about WeighMyBru and its features.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Weigh My Bru is an open-source smart scale project engineered to offer high-performance features at a fraction 
    of the cost of commercial alternatives. By leveraging low-cost, readily available components, it showcases 
    just how much can be achieved through thoughtful design, community collaboration, and open innovation—making 
    precision coffee weighing accessible to enthusiasts and developers alike.
  </p>
  <p>
    What began as a simple, headless espresso scale, AKA WeighMyBru, designed to integrate seamlessly with GaggiMate 
    quickly evolved into something more. As the project matured, new features were added—from Wi-Fi control and 
    calibration to real-time flowrate monitoring. It became clear that a one-size-fits-all solution wouldn't serve 
    every user’s needs.
    <p>
      Enter WeighMyBru Mini, WeighMyBru², and beyond— modular versions tailored for different brewing setups and 
      user preferences, without compromising affordability or performance. These models are currently under development.
    </p>
  </p>

  <GlowLineSeparator />

</Layout>
